<div class="modal fade" id="newStockModal" tabindex="-1" role="dialog" aria-labelledby="newStockModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newStockModalLabel">Add a stock to your tracking</h4>
            </div>
            <form action="{{ url_for('stocks.new_stock') }}" method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Stock Symbol</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="symbol" name="symbol" placeholder="Symbol"
                                   aria-describedby="stockSymbolHelpBlock" autofocus>
                            <p class="help-block">Enter multiple stocks separated with commas</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-default">Track Stock</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>