<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Compiled and minified Bootstrap 3.3.7 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <!-- Compiled and minified Bootstrap 3.3.7 JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="content container">
            <div class="row">
                <h3>{{ user }},</h3>
                <p>ALERT from arf-market-watch!</p>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>{{ alerts[0][0] }}</th>
                            <th>{{ alerts[0][1] }}</th>
                            <th>{{ alerts[0][2] }}</th>
                        </tr>
                        {% for alert in alerts[1:] %}
                            <tr>
                                <td> {{ alert[0] }}</td>
                                <td> {{ alert[1] }}</td>
                                <td> {{ alert[2] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <small>
                    Unsubscribe <a href="https://arf-market-watch.herokuapp.com/users/profile">here</a>.
                </small>
            </div>
        </div>
    </body>
</html>