{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class="flash">
                {% if category == 'danger' %}
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                {% elif category == 'success' %}
                    <span class="glyphicon glyphicon-ok-sign"></span>
                {% elif category == 'info' %}
                    <span class="glyphicon glyphicon-info-sign"></span>
                {% endif %}
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endwith %}
