<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Hello{% endblock %}</title>

        {% include 'html_dependencies.jinja2' %}
        {% block css_includes %}{% endblock %}
    {% endblock %}

</head>
<body>

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Home">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if session['name'] %}
                    <li><a href="{{ url_for('users.stocks') }}" title="Stocks"><span class="glyphicon glyphicon-stats"></span> Stocks</a></li>
                    <li><a href="{{ url_for('users.profile') }}" title="Profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="{{ url_for('users.logout') }}" title="Log Out"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('users.register') }}" title="Sign up"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li><a href="{{ url_for('users.login') }}" title="Log in"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="content container">
    {% block content %}

    {% endblock %}
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
      <div class="row">
          <a href="https://gitlab.com/scul/market-watch" class="col-xs-1 col-xs-offset-8 col-sm-offset-10" rel="noopener noreferrer" target="_blank">
            <img src="{{ url_for('static', filename='img/gitlab_no_bg.png') }}" class="navbar-text navbar-right" alt="Responsive image" height="25px">
          </a>
      </div>
  </div>
</nav>

</body>
</html>
