{% extends "base.jinja2" %}
{%  block title %}Home{% endblock %}
{% block content %}
    {% block flash_messages %}
        {% include '_inline_message.jinja2' %}
    {% endblock %}
    <div class="jumbotron">
        <h1>ARFCOM Market Watch</h1>
        <p>This was made after a suggestion on ARF for a tool to keep track of stock prices</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('users.register') }}" role="button">Get started</a></p>
    </div>
    <small>Copyright (C) GPLv3 2018  scul@gitlab.com</small>
{% endblock %}