<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="stockModalLabel">Change email</h4>
            </div>
            <form action="{{ url_for('users.profile') }}" method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">New Email: </label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" name="email" placeholder="{{ user.email }}"/>
                        </div>
                        <input type="hidden" name="action" id="action" value="email"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>