<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="stockModalLabel">Change password</h4>
            </div>
            <form action="{{ url_for('users.profile') }}" method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">Current Password: </label>
                            <div class="col-sm-7">
                                <input type="password" name="curr_password" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">New Password: </label>
                            <div class="col-sm-7">
                                <input type="password" name="new_password1" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">Confirm Password: </label>
                            <div class="col-sm-7">
                                <input type="password" name="new_password2" class="form-control"/>
                            </div>
                            <input type="hidden" name="action" id="action" value="password"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-8">
                          <button type="submit" class="btn btn-primary">Update</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>