<div class="modal fade" id="{{ stock.symbol }}Modal" tabindex="-1" role="dialog" aria-labelledby="stockModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="stockModalLabel">Stock data for {{ stock.symbol }}</h4>
            </div>
            <div class="modal-body">
                <div class="stock-history">
                   <table class="table table-bordered">
                       <tr>
                           <th>Date</th>
                           <th>Price</th>
                       </tr>
                       {% for date, price in stock.price_history.items() %}
                           <tr>
                               <td> {{ date }}</td>
                               <td> {{ price }}</td>
                           </tr>
                       {% endfor %}
                   </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-1">
                        <form action="{{ url_for('stocks.remove_stock') }}" method="post" onsubmit="return confirmDelete()">
                            <input type="hidden" name="stock_symbol" value="{{ stock.symbol }}" />
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                    <div class="col-xs-3 col-xs-offset-8">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>