{% extends "base.jinja2" %}
{% block title %}Login {% endblock %}
{% block content %}
    <div class="form">
        {% block flash_messages %}
            {% include '_inline_message.jinja2' %}
        {% endblock %}
        <form action="{{ url_for('users.login') }}" method="post" class="form-horizontal col-sm-8 col-sm-offset-1">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">User Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="User Name"
                       aria-describedby="usernameHelpBlock" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
{% endblock %}