{% extends "base.jinja2" %}
{% block title %} Profile {% endblock %}
{% block content %}
    <div class="container">
        {% block flash_messages %}
            {% include '_inline_message.jinja2' %}
        {% endblock %}
        <div class="row">
            <h2>Profile for {{ user.name }}</h2>
        </div>
        <hr>
        <div class="row">
             <label class="col-sm-2 control-label" for="email">Name</label>
             <div class="col-sm-4">
                 <p class="form-contol-static">{{ user.name }}</p>
             </div>
             <a href="#" type="submit" data-toggle="modal" data-target="#nameModal" class="btn btn-default">Change name</a>
             {% include 'users/_name_modal.jinja2' %}
        </div>
        <hr>
        <div class="row">
             <label class="col-sm-2 control-label" for="email">e-Mail</label>
             <div class="col-sm-4">
                 <p class="form-contol-static">{{ user.email }}</p>
             </div>
             <a href="#" type="submit" data-toggle="modal" data-target="#emailModal" class="btn btn-default">Change e-Mail</a>
             {% include 'users/_email_modal.jinja2' %}
        </div>
        <hr>
        <div class="row">
            <label class="col-sm-2 control-label" for="sub">e-Mail Updates: </label>
            <div class="col-sm-4">
                {% if user.sub %}
                    <p class="form-contol-static">Active</p>
                {% else %}
                    <p class="form-contol-static">Inactive</p>
                {% endif %}
            </div>
            <form class="form-horizontal" action="{{ url_for('users.profile') }}" method="post">
                <input type="hidden" name="action" id="action" value="sub"/>
                <button type="submit" class="btn btn-default">Toggle</button>
            </form>
        </div>
        <hr>
        <div class="row">
            <label class="col-sm-2 control-label" for="sub">Password: </label>
            <div class="col-sm-4">
                **********
            </div>
            <a href="#" type="submit" data-toggle="modal" data-target="#passwordModal" class="btn btn-default">Change password</a>
            {% include 'users/_password_modal.jinja2' %}
         </div>
        <hr>
        <div class="row">
            <label class="col-sm-2 control-label" for="sub">Delete your Account:</label>
            <div class="col-sm-4">
                This is permanent!
            </div>
            <a href="#" type="submit" data-toggle="modal" data-target="#deleteUserModal" class="btn btn-danger">Delete Account</a>
            {% include 'users/_delete_user_modal.jinja2' %}
         </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}