{% extends "base.jinja2" %}
{% block content %}
    <div class="form">
        {% block flash_messages %}
            {% include '_inline_message.jinja2' %}
        {% endblock %}
        <form action="{{ url_for('users.register') }}" method="post" class="form-horizontal col-sm-8 col-sm-offset-1">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">User Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="User Name" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="email" placeholder="example@example.com">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                              <input type="checkbox" id="sub" name="sub" checked> Email me notifications when stocks are below threshold
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Verify password">
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </form>
    </div>
{% endblock %}