{% extends "base.jinja2" %}
{% block title %} {{ user }}'s stocks {% endblock %}
{% block css_includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stock_scroll.css') }}">
{% endblock %}
{% block content %}
    {% block flash_messages %}
        {% include '_inline_message.jinja2' %}
    {% endblock %}
    <div class="page-header">
        <h1>Stocks <small>tracked by {{ user }}</small>
        </h1>
    </div>
    <div>
        <a class="btn btn-success" href="#" data-toggle="modal" data-target="#newStockModal">
            <span class="glyphicon glyphicon-plus"></span> Track another stock
        </a>
        <p></p>
    </div>
    <div class="list-group">
        {% for stock in stocks %}
            {% set list_history = stock.price_history.items()|list %}
            {% set success = list_history[0][1]|float < stock.moving_avg %}
            <a href="#" class="list-group-item {{ 'list-group-item-success' if success }}"
               data-toggle="modal" data-target="#{{ stock.symbol }}Modal" data-symbol={{ stock.symbol }}>
                <h4 class="list-group-item-heading">{{ stock.symbol }} </h4>
            </a>
            {% include 'users/_stock_modal.jinja2' %}
        {% endfor %}
    </div>
    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#newStockModal">
        <span class="glyphicon glyphicon-plus"></span> Track another stock
    </a>
    {% include 'stocks/_new_stock_modal.jinja2' %}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}